 
body{
    font-family: 'PT Serif', serif;
}

.imgHead{
    width: 50px;
    height: 50px;
}

hr{
    border-top: 2px solid #212529;
    width: 80%;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

.map-container{
    overflow:hidden;
    padding-bottom:10px;
    position:relative;
    height:0;
    }
.map-container iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
    }
.size{
    padding:10px 10px;
}
.lead b {
    font-weight: bold;
}

.padding{
    padding: 30px;
}

.img-fluid{
   width: 80%;
   height: 80%;
}
.row h2 {
    font-weight: bold;
}

.BColor{
    color: red;
}

.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-twitter{
    color: #00aced;
}
.fa-google-plus-g{
    color: dd4b39;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-youtube:hover, .fa-twitter:hover, .fa-google-plus-g:hover{
    color: #ccc;
}

.social a {
    margin-left 50px;
}

footer{
    background-color: silver ;
    padding-top: 50px;
    border-top: 4px solid silver;
}
